[submodule "04.week3_token_swap_anchor_program/spl-token-swap-escrow"]
	path = 04.week3_token_swap_anchor_program/spl-token-swap-escrow
	url = https://github.com/AhindraD/spl-token-swap-escrow.git
[submodule "05.week4_nft_marketplace_anchor_program/nft_marketplace"]
	path = 05.week4_nft_marketplace_anchor_program/nft_marketplace
	url = https://github.com/AhindraD/nft_marketplace.git
[submodule "05.week4_nft_staking_anchor_program/nft-staking_anchor"]
	path = 05.week4_nft_staking_anchor_program/nft-staking_anchor
	url = https://github.com/AhindraD/nft-staking-anchor.git
[submodule "PrismPapersDesci-Obsolete"]
	path = PrismPapersDesci-Obsolete
	url = https://github.com/AhindraD/prism-papers-desci.git
